.bar {
  display: flex;
  margin: 0;
  border-radius: 0;
  padding: 1rem;
}

#statusbar > *:not(:first-child), #menubar > div > *:not(:first-child) {
  margin-left: 0.25rem;
}

#menubar > div:nth-child(2) {
  margin: 0 0.25rem;
}

#menubar > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

#menubar > div:first-child > *:last-child {
  margin-right: auto;
} 

#statusbar > * {
  background-color: transparent;
  height: 1rem;
  line-height: 1rem;
}

#statusbar > *:not(:first-child, :last-child) {
  border-right-color: var(--ma);
  border-right-style: solid;
  border-right-width: 2px;
  padding-right: 0.5rem;
}

#projectTitle {
  width: 100%;
  max-width: 25rem;
}

#spectrum, #waveform {
  width: 10rem;
  height: 2rem;
  border: 2px solid var(--ma);
  border-radius: 0.25rem;
}

@media screen and (max-width: 1400px) {
  #menubar > div:first-child, #menubar > div:last-child {
    flex: 0;
  }
  
  #menubar > div:first-child > *:last-child {
    margin-right: auto;
  } 
}

@media screen and (min-width: 1401px) {  
  #menubar > div:last-child > *:first-child {
    margin-left: auto;
  } 
}