<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

  <title>Node Studio</title>

  <!-- stylesheets -->

  <link rel="stylesheet" href="../assets/stylesheets/core.css" />

  <!-- scripts -->

  <script type="module" src="../assets/scripts/editor.mjs"></script>
</head>

<body>

  <div id="toolbar" class="module">
    <div id="project">
      <div>
        <span id="projectTitle"></span>
      </div>
      <div>
        <span id="playbackTime"></span>
        <span id="memUsage"></span>
      </div>
    </div>
    <canvas id="spectrum"></canvas>
    <canvas id="waveform"></canvas>
  </div>

  <div id="timeline" class="module">
    <div id="trackHeaders">
      <div class="trackHeader selected">
        <div>
          <input type="text" class="trackName" value="Track 1" maxlength="32" placeholder="Untitled Track">
          <input type="button" class="trackMute">
          <input type="button" class="trackSolo">
          <input type="button" class="trackFX">
          <input type="button" class="trackNodes">
        </div>
        <div>
          <span>VOL</span>
          <input type="range" class="trackVolume" min="0" max="100" value="100">
          <span>PAN</span>
          <input type="range" class="trackPan" min="0" max="100" value="50">
        </div>
      </div>
    </div>
    <div id="trackSequencer">
      <div class="trackSequence"></div>
    </div>
  </div>

  <div id="instrument" class="module"></div>

  <div id="keyboard" class="module">
    <div id="pitch" class="kbwheel">
      <span class="label">PITCH</span>
      <input type="range" orient="vertical" min="0" max="100" value="50">
    </div>
    <div id="modulation" class="kbwheel">
      <span class="label">MOD</span>
      <input type="range" orient="vertical" min="0" max="100" value="0">
    </div>
    <div id="velocity" class="kbwheel">
      <span class="label">VELOCITY</span>
      <input type="range" orient="vertical" min="0" max="100" value="50">
    </div>
    <div id="keys"></div>
  </div>
</body>