<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

  <title>Node Studio</title>

  <!-- stylesheets -->

  <link rel="stylesheet" href="../assets/stylesheets/global.css" />
  <link rel="stylesheet" href="../assets/stylesheets/editor.css" />

  <!-- scripts -->

  <script src="../assets/scripts/editor.js"></script>
</head>

<body>

  <div id="toolbar" class="module">
    <canvas id="spectrum"></canvas>
    <canvas id="waveform"></canvas>
  </div>

  <div id="timeline" class="module">
    <div id="trackData"></div>
  </div>

  <div id="instrument" class="module"></div>

  <div id="keyboard" class="module">
    <div id="pitch" class="kbwheel">
      <span class="label">PITCH</span>
      <input type="range" orient="vertical" min="0" max="100">
    </div>
    <div id="modulation" class="kbwheel">
      <span class="label">MODULATION</span>
      <input type="range" orient="vertical" min="0" max="100">
    </div>
    <div id="velocity" class="kbwheel">
      <span class="label">VELOCITY</span>
      <input type="range" orient="vertical" min="0" max="100">
    </div>
    <div id="keys"></div>
  </div>

  <p id="contextData"></p>
</body>