@import "theme.css";
@import "module_generic.css";
@import "control_panel.css";
@import "module_track_editor.css";
@import "module_node_editor.css";
@import "module_keyboard.css";
@import "toolbars.css";
@import "contextmenu.css";

:root {
  --m-0: var(--dark0);
  --m-1: var(--dark3);
  --m-2: var(--dark1);
  --ma: var(--mid1);
  --ma-hover: var(--mid3);
  --ma-select: var(--light1);

  --track-col-1: var(--blue);
  --track-col-2: var(--purple);
  --track-col-3: var(--red);
  --track-col-4: var(--orange);
  --track-col-5: var(--yellow);

  --piano-white: var(--mid1);
  --piano-white-hover: var(--mid3);
  --piano-black: var(--dark0);
  --piano-black-hover: var(--dark1);

  --cm-bg: var(--light1);
  --cm-hover: var(--light0);
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  user-select: none;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
  --t: calc(1rem + 4px);
  width: var(--t);
  height: var(--t);
  background-color: var(--m-1);
}

 *::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: var(--m-0);
  border: 2px solid var(--m-1);
 }

*::-webkit-scrollbar-thumb {
  --t: calc(1rem + 4px);
  width: var(--t);
  height: var(--t);
  box-shadow: inset 0 0 1rem 1rem var(--ma);
  border: solid 0.25rem transparent;
  border-radius: 2rem;
}

*::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 1rem 1rem var(--ma-hover);
}

*::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 1rem 1rem var(--ma-select);
}

*::-webkit-scrollbar-corner {
  background-color: var(--m-1);
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background-color: var(--m-0);
  color: var(--ma);
}

a {
  color: var(--ma);
  text-decoration: none;
}

a:hover {
  color: var(--ma-hover);
  text-decoration: underline;
}

a:focus {
  color: var(--ma-select);
}

input[type=button].large {
  min-width: 3rem;
  min-height: 3rem;
  font-size: 1.5rem;
}

input[type=button].small {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}

input[type=button] {
  width: 3.5rem;
  height: 2rem;
  background-color: var(--ma);
  color: var(--m-0);
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  padding: 0;
}

input[type=button]:hover {
  background-color: var(--ma-hover);
  cursor: pointer;
}

input[type=button]:active {
  background-color: var(--ma-select);
}

input[type=range] {
  display: none;
}

input[type=text], input[type=number] {
  line-height: 1rem;
  border-radius: 0.25rem;
  padding: 0;
  background-color: transparent;
  color: var(--ma);
  border-color: transparent transparent var(--ma);
  border-style: solid;
  text-overflow: ellipsis;
}

input[type=text]::-webkit-input-placeholder {
  color: var(--ma);
}

input[type=text]:hover::-webkit-input-placeholder {
  color: var(--ma-hover);
}

input[type=text]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type=text]:hover, input[type=number]:hover {
  color: var(--ma-hover);
  border-color: transparent transparent var(--ma-hover);
}

input[type=text]:focus, input[type=number]:focus {
  background-color: var(--ma-select);
  border-color: var(--ma-select);
  outline: none;
  color: var(--m-0);
}

.slider {
  cursor: pointer;
  position: relative;
  background-color: var(--m-0);
  border-radius: 100rem;
  min-height: 1rem;
  min-width: 1rem;
}

.slider.vertical {
  height: 100%;
  border-top: 1rem solid var(--m-0);
}

.slider:not(.vertical) {
  width: 100%;
  border-right: 1rem solid var(--m-0);
}

.slider > div {
  position: absolute;
  box-sizing: border-box;
  background-color: var(--ma);
  height: 100%;
  width: 1rem;
  border-radius: 100rem;
  border: 2px solid var(--m-0);
}

.slider.vertical > div {
  height: 1rem;
  width: 100%;
}

.slider > div:hover {
  background-color: var(--ma-hover);
}

.slider > div:focus {
  background-color: var(--ma-select);
}