@import "theme.css";
@import "module_generic.css";
@import "module_header.css";
@import "module_track_editor.css";
@import "module_keyboard.css";
@import "module_toolbar.css";

:root {
  --m-0: var(--dark0);
  --m-1: var(--dark3);
  --m-2: var(--dark1);
  --ma: var(--mid1);
  --ma-hover: var(--mid3);
  --ma-select: var(--light1);

  --track-col-1: var(--blue);
  --track-col-2: var(--purple);
  --track-col-3: var(--red);
  --track-col-4: var(--orange);
  --track-col-5: var(--yellow);

  --piano-white: var(--mid1);
  --piano-white-hover: var(--mid3);
  --piano-black: var(--dark0);
  --piano-black-hover: var(--dark1);
}