:root {
  --primary: #111;
  --secondary: #FF7522;
  --accent: #EEE;
  --select: #441F08;
  --piano-white: #EEE;
  --piano-white-hover: #AAA;
  --piano-white-outline: rgba(0, 0, 0, 0.2);
  --piano-black: #333;
  --piano-black-hover: #111;
  --piano-black-outline: rgba(0, 0, 0, 0.2);
}