.module {
  display: flex;
  padding: 3px;
  margin: 0 8px;
  border-radius: 0.25rem;
  background-color: var(--m-1);
}

.module > * {
  margin-left: 3px;
  background-color: var(--m-0);
}

.module > *:first-child {
  margin-left: 0;
}

.spacer {
  opacity: 0;
  flex-grow: 2;
}