html, body {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 1em;
  height: 1em;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 1em 1em var(--ma);
  border: solid 0.25em transparent;
  border-radius: 2em;
}

*::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 1em 1em var(--ma-hover);
}

*::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 1em 1em var(--ma-select);
}

*::-webkit-scrollbar-corner {
  background-color: transparent
}

body {
  display: flex;
  padding: 0.25em;
  margin: 0;
  flex-direction: column;
  background-color: var(--m-0);
  color: var(--ma);
}

.module {
  display: flex;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 0.25em;
  background-color: var(--m-1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.module > * {
  -border-radius: 0.25em;
  margin-left: 0.5em;
  background-color: var(--m-0);
}

.module > *:first-of-type {
  margin-left: 0;
}

input[type=button].large {
  width: 4em;
  height: 3em;
}

input[type=button] {
  width: 3em;
  height: 2em;
  background-color: var(--ma);
  border-radius: 0.25em;
  border: none;
}

input[type=button]:hover {
  background-color: var(--ma-hover);
  cursor: pointer;
}

input[type=button]:active {
  background-color: var(--ma-select);
}

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 2em;
  cursor: grab;
  background-color: var(--ma);
  border-radius: 1em;
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: var(--ma-hover);
}

input[type=range]::-webkit-slider-thumb:active {
  background-color: var(--ma-select);
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  background: var(--m-0);
  width: 1em;
  height: 1em;
  border-radius: 1em;
}