:root {
  --track-height: 4.5rem;
}

#timeline {
  flex-grow: 1000;
}

#tlCol1, #tlCol2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: transparent;
}

#tlCol1 > *:not(#playbackData), #tlCol2 > * {
  background-color: var(--m-0);
}

#tlCol2 {
  width: 100%;
  overflow-y: auto;
}

#playbackData, #tlCol2 > :first-child {
  margin-bottom: 0.25rem;
  min-height: 2rem;
}

#playbackData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

#playbackTime {
  font-size: 1.5rem;
}

#seek {
  border-radius: 0.15rem 0.15rem 0 0;
}

#trackHeaders, #trackSequencer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: calc(var(--track-height) + 1px) calc(var(--track-height) + 1px);
  background-image: linear-gradient(to top, var(--m-1) 1px, transparent 1px);
}

.trackHeader, .trackSequence {
  background-color: var(--m-0);
  min-height: var(--track-height);
  height: var(--track-height);
}

#trackHeaders {
  min-width: 25rem;
  overflow-y: hidden;
}

.trackHeader {
  display: flex;
  padding: 0.5rem;
  padding-left: 0;
  justify-content: space-between;
  margin-bottom: 1px;
}

.trackHeader > div:last-child {
  flex-grow: 1;
}

.trackHeader.selected, .trackSequence.selected {
  background-color: var(--m-2);
}

.trackHeader > div {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.trackHeader > div > div {
  display: flex;
}

.trackHeader > div > div > * {
  line-height: 1rem;
  margin-left: 0.5rem;
}

.trackHeader > div > div > div {
  flex-grow: 1;
  width: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.trackHeader > div > div > *:first-child{
  margin-left: 0;
}

#trackCreate {
  align-items: center;
  justify-content: center;
}

.trackDrag {
  cursor: grab;
  padding: 0.5rem;
  background-color: var(--m-1);
  background-image: radial-gradient(var(--ma) 30%, transparent 20%);
  margin-right: 0.5rem;
  border: 0.5rem solid var(--m-1);
  border-radius: 0 0.5rem 0.5rem 0;
  background-size: 4px 4px;
  background-origin: 50% 50%;
}

.trackDrag:active {
  cursor: grabbing;
}

.trackName {
  flex-grow: 2;
  width: 1rem;
}

#trackSequencer {
  width: 100%;
  display: grid;
  grid-auto-rows: var(--track-height);
  grid-row-gap: 1px;
  flex-grow: 1000;
  overflow-x: scroll;
  overflow-y: auto;
}

.trackSequence {
  display: flex;
  padding-right: 150vw;
}

.pattern {
  display: flex;
  flex-flow: column nowrap;
  min-width: 2rem;
  background: transparent;
  border-radius: 0.25rem;
  border: 2px solid var(--m-1);
  margin-top: 1px;
  margin-bottom: 1px;
  box-shadow: 0 0 1px black;
}

.pattern {
  margin-left: 1px;
}

.pattern::before {
  content: attr(data-name);
  background-color: var(--track-col-1);
  color: var(--ma-select);
  border-radius: 0.1rem 0.1rem 0 0;
  font-size: 0.85rem;
  text-shadow: 0 0 6px black;
  letter-spacing: 0.075rem;
  padding: 0rem 0.3rem 0.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}