#keyboard {
  display: flex;
  height: 10rem;
}

.kbwheel {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;
}

.kbwheel span {
  margin: 0;
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -0.3rem;
  /* letter-spacing: 0.2rem; */
}

.kbwheel input {
  writing-mode: vertical-lr;
  height: 100%;
  width: 2rem;
  margin: 0;
  transform: rotate(90deg);
  transform-origin: left;
}

#keys {
  display: flex;
  height: 100%;
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
}

#keys :first-child {
  border-left-width: 2px !important; 
}

#keys :last-child {
  border-right-width: 2px !important; 
}

#keys .white, #keys .black {
  display: block;
  border-width: 2px 1px 1px;
  border-style: solid;
  border-color: var(--m-0);
  border-radius: 0rem 0rem 0.4rem 0.4rem;
  user-select: none;
  cursor: pointer;
}

#keys .white {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.5rem;
  min-width: 2rem;
  flex-grow: 1;
  flex-basis: 0px;
  height: 100%;
  background-color: var(--piano-white);
  color: var(--m-0);
  font-weight: bolder;
}

#keys .white:hover {
  background-color: var(--piano-white-hover);
}

#keys .black {
  height: 55%;
  /*
  width is calculated by piano.mjs
  */
  border-width: 2px;
  z-index: 1;
  background-color: var(--piano-black);
}

#keys .black:hover {
  background-color: var(--piano-black-hover);
}

#keys:active .white:hover, #keys:active .black:hover {
  background-color: var(--ma-select);
}