#header {
  display: flex;
  height: 5rem;
  align-items: center;
}

#projectInfo {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 100%;
  padding: 0.5rem;
  justify-content: space-between;
}

#projectInfo > div {
  display: flex;
  justify-content: space-between;
}

#projectTitle {
  width: 100%;
}

#tempo {
  width: 4rem;
}

#spectrum, #waveform {
  width: 10rem;
  height: 100%;
}