<div class="trackHeader">
  <div class="trackDrag"></div>
  <div>
    <div>
      <input type="text" class="trackName" value="Instrument 1" maxlength="32" placeholder="Untitled Instrument">
      <input type="button" class="small trackMute" value="🔇">
      <input type="button" class="small trackSolo" value="S">
      <input type="button" class="small trackNodes" value="🔌">
    </div>
    <div>
      <span>VOL</span>
      <div id="trackVolume" class="slider" data-mouseover="Volume: %1" data-cm="slider">
        <div data-min="0" data-max="100" data-default="100"></div>
      </div>
      <span>PAN</span>
      <div id="trackPan" class="slider" data-cm="slider">
        <div data-min="0" data-max="100" data-default="50"></div>
      </div>
    </div>
  </div>
</div>