:root {
  --dark0: #1D383D;
  --dark1: #2F4F4C;
  --dark2: #3C5F58;
  --dark3: #4A7167;
  --mid0: #83ABA5;
  --mid1: #9DC1B2;
  --mid2: #B1D3BE;
  --mid3: #C8E9CC;
  --light0: #C0E2EC;
  --light1: #E2F1F5;
  --light2: #FFFFFF;
  --blue: #507FF4;
  --purple: #BD64BB;
  --red: #F95858;
  --orange: #F98F5B;
  --yellow: #F7C060;
}