:root {
  --dark0: #2f353d;
  --dark1: #444950;
  --dark2: #555960;
  --dark3: #656a71;
  --mid0: #9ba2ab;
  --mid1: #b3b9c1;
  --mid2: #c6cbd3;
  --mid3: #dfe3ea;
  --light0: #e2e6ec;
  --light1: #f0f2f5;
  --light2: #FFFFFF;
  --blue: #507FF4;
  --purple: #BD64BB;
  --red: #F95858;
  --orange: #F98F5B;
  --yellow: #F7CE60;
}