.centeredOnScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.panel {
  flex: 1;
  border-radius: 0.25rem;
  background-color: var(--generic-module-frame);
  padding: 3px;
  margin: 0.5rem;
}