.splitLine {
  --gap: 0.25rem;
  --seamWidth: 1rem;
  --lineWidth: 2px;
  --gripWidth: 6px;
  --lowerWidth: min(45%, calc(50% - 1rem));
  --upperWidth: max(55%, calc(50% + 1rem));
  position: relative;
  color: transparent;
}

.splitLine:not(:hover) {
  transition: color 200ms;
}

.splitLine:hover, .splitLine:active {
  color: currentColor;
  transition: color 80ms;
}

.vertical {
  height: var(--seamWidth);
  cursor: ns-resize;
}

.horizontal {
  width: var(--seamWidth);
  cursor: ew-resize;
}

.vertical:before, .vertical:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.vertical:before {
  height: var(--gripWidth);
  width: 100%;
  border: 2px dotted currentColor;
  mask-image: linear-gradient(to right, transparent calc(var(--lowerWidth) + var(--gap)), #FFF calc(var(--lowerWidth) + var(--gap)), #FFF calc(var(--upperWidth) - var(--gap)), transparent calc(var(--upperWidth) - var(--gap)));
}

.vertical:after {
  height: var(--lineWidth);
  width: calc(100% - 2rem);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  mask-image: linear-gradient(to right, #FFF calc(var(--lowerWidth) - var(--gap)), transparent calc(var(--lowerWidth) - var(--gap)), transparent calc(var(--upperWidth) + var(--gap)), #FFF calc(var(--upperWidth) + var(--gap)));
}

.horizontal:before, .horizontal:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.horizontal:before {
  width: var(--gripWidth);
  height: 100%;
  border: 2px dotted currentColor;
  mask-image: linear-gradient(to bottom, transparent calc(var(--lowerWidth) + var(--gap)), #FFF calc(var(--lowerWidth) + var(--gap)), #FFF calc(var(--upperWidth) - var(--gap)), transparent calc(var(--upperWidth) - var(--gap)));
}

.horizontal:after {
  width: var(--lineWidth);
  height: calc(100% - 2rem);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  mask-image: linear-gradient(to bottom, #FFF calc(var(--lowerWidth) - var(--gap)), transparent calc(var(--lowerWidth) - var(--gap)), transparent calc(var(--upperWidth) + var(--gap)), #FFF calc(var(--upperWidth) + var(--gap)));
}