.controlPanel {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.controlPanel input[type=button] {
  background-color: var(--cp-button);
  color: var(--cp-button-text);
}

.controlPanel input[type=button]:hover {
  background-color: var(--cp-button-hover);
}

.controlPanel input[type=button]:active {
  background-color: var(--cp-button-active);
}

.controlPanel > div {
  width: 100%;
  max-width: 20rem;
  background: transparent;
}

.controlPanel > *:not(:first-child) {
  margin-left: 1rem;
}

#pbControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pbControls > *:not(:first-child) {
  margin-left: 0.25rem;
}

#pbOptions {
  display: flex;
  flex-flow: row nowrap;
}

#pbOptions > *:not(:first-child) {
  margin-left: 0.5rem;
}

#pbOptions > * {
  background-color: var(--cp-globaloptions);
  padding: 0.25rem;
  border-radius: 0.25rem;
  height: 100%;
}

#pbOptions > #masterVol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

#masterVol > * {
  width: 100%;
}

#tempo {
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#tempo > input[type="number"] {
  font-size: 1rem;
  width: 3rem;
  margin-right: 0.1rem;
}

#tempo > input[type="button"] {
  margin-left: 0.75rem;
}

.cpRight {
  display: flex;
  flex-flow: row nowrap;
}

.cpRight > :first-child {
  margin-left: auto;
}