#keyboard {
  display: flex;
  height: 10rem;
  min-height: 7rem;
  background-color: var(--keyboard-frame);
  color: var(--keyboard-text);
}

#keyboard ::-webkit-scrollbar {
  background-color: var(--keyboard-scrollbar-bg);
}

#keyboard ::-webkit-scrollbar-track {
  background-color: var(--keyboard-scrollbar-track);
  border-color: var(--keyboard-scrollbar-bg);
}

#keyboard ::-webkit-scrollbar-thumb {
  color: var(--keyboard-scrollbar-thumb)
}

#keyboard ::-webkit-scrollbar-thumb:hover {
  color: var(--keyboard-scrollbar-thumb-hover);
}

#keyboard ::-webkit-scrollbar-thumb:active {
  color: var(--keyboard-scrollbar-thumb-active);
}

#keyboard ::-webkit-scrollbar-corner {
  background-color: var(--keyboard-scrollbar-bg);
}

#keyboard .slider {
  background-color: var(--keyboard-slider-track);
  border-color: var(--keyboard-slider-track);
}

#keyboard .slider > div {
  background-color: var(--keyboard-slider-thumb);
  border-color: var(--keyboard-slider-track);
}

#keyboard .slider > div:hover {
  background-color: var(--keyboard-scrollbar-thumb-hover);
}

#keyboard .slider > div:active {
  background-color: var(--keyboard-scrollbar-thumb-active);
}

.kbwheel {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;
  background: transparent;
}

.kbwheel span {
  margin: 0;
  height: 100%;
  text-align: center;
  writing-mode: vertical-lr;
  letter-spacing: 0.2rem;
}

#keys {
  display: flex;
  height: 100%;
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
  padding-bottom: 0.25rem;
  background-color: var(--keyboard-bg);
}

#keys :first-child {
  border-left-width: 2px !important; 
}

#keys :last-child {
  border-right-width: 2px !important; 
}

#keys .white, #keys .black {
  display: block;
  border-width: 2px 1px 1px;
  border-style: solid;
  border-color: var(--keyboard-bg);
  border-radius: 0rem 0rem 0.4rem 0.4rem;
  user-select: none;
  cursor: pointer;
}

#keys .white {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.5rem;
  min-width: 2rem;
  flex-grow: 1;
  flex-basis: 0px;
  height: 100%;
  background-color: var(--keyboard-whitekey);
  color: var(--keyboard-whitekey-text);
  font-weight: bolder;
}

#keys .white:hover {
  background-color: var(--keyboard-whitekey-hover);
}

#keys .black {
  height: 55%;
  /*
  width is calculated by piano.mjs
  */
  border-width: 2px;
  z-index: 1;
  background-color: var(--keyboard-blackkey);
}

#keys .black:hover {
  background-color: var(--keyboard-blackkey-hover);
}

#keys:active .white:hover {
  background-color: var(--keyboard-whitekey-active)
}

#keys:active .black:hover {
  background-color: var(--keyboard-blackkey-active);
}