#nodeEditor {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--nodegroup-frame);
}

#nodeEditor ::-webkit-scrollbar {
  background-color: var(--nodegroup-scrollbar-bg);
}

#nodeEditor ::-webkit-scrollbar-track {
  background-color: var(--nodegroup-scrollbar-track);
  border-color: var(--nodegroup-scrollbar-bg);
}

#nodeEditor ::-webkit-scrollbar-thumb {
  color: var(--nodegroup-scrollbar-thumb)
}

#nodeEditor ::-webkit-scrollbar-thumb:hover {
  color: var(--nodegroup-scrollbar-thumb-hover);
}

#nodeEditor ::-webkit-scrollbar-thumb:active {
  color: var(--nodegroup-scrollbar-thumb-active);
}

#nodeEditor ::-webkit-scrollbar-corner {
  background-color: var(--nodegroup-scrollbar-bg);
}

#ndHeader {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0.25rem;
  background-color: var(--nodegroup-frame);
}

#ndPatternTitle {
  width: 14rem;
}

#ndGridWrapper {
  flex-grow: 1000;
  margin: 0;
  margin-top: 0.25rem;
  overflow-x: scroll;
  overflow-y: scroll;
}

#ndGridWrapper.panning {
  cursor: move;
}

#ndPath {
  position: absolute;
  margin: 1rem;
  color: var(--nodegroup-directory);
  text-shadow: 0 0.1rem 0.5rem black;
  z-index: 10;
  pointer-events: none;
}

#ndGrid {
  background-image: radial-gradient(var(--nodegroup-bg-dots) 10%, var(--nodegroup-bg) 5%);
  background-size: 16px 16px;
  background-position: 4px 4px;
  box-sizing: border-box;
  min-width: 4096px;
  min-height: 2048px;
  margin: 0;
  position: relative;
}

.node {
  --w: 6;
  --h: 6;
  position: absolute;
  width: calc(16px * var(--w));

  display: flex;
  flex-flow: column nowrap;
  background-color: var(--nodegroup-node);
  border: 2px solid var(--nodegroup-node);
  color: var(--nodegroup-node-text);
  border-radius: 0.33rem;
  box-shadow: 0 0.25rem 1rem black;
  user-select: none;
}

.node.active {
  border: 2px solid var(--nodegroup-node-active);
}

.nodeTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nodegroup-node-header);
  width: 100%;
  padding: 0.5rem;
  padding-left: 0.5rem;
  cursor: grab;
}

.node.active > .nodeTitle {
  cursor: grabbing;
}

.nodeIO {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nodeIO.input {
  flex-direction: row-reverse;
}

.nodeIO > span {
  margin: 0 0.25rem;
}

.nodePlug {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.5rem;
  cursor: pointer;
}

.nodeIO.output > .nodePlug {
  margin-right: -1rem;
}

.nodeIO.input > .nodePlug {
  margin-left: -1rem;
}

/* temporary */
#node002 .nodePlug::before {
  background-color: var(--blue);
}

.nodePlug::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: block;
  background-color: var(--orange);
  box-sizing: border-box;
  border: 2px solid var(--nodegroup-node-plug-border);
  border-radius: 2rem;
}

/* .nodeIO.output > .nodePlug::before {
  border-radius: 2rem 0 0 2rem;
}

.nodeIO.input > .nodePlug::before {
  border-radius: 0 2rem 2rem 0;
} */

#nodeConnections {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}